<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>sample1.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>mypageservlet</servlet-name>
        <servlet-class>sample1.MyPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mypageservlet</servlet-name>
        <url-pattern>/MyPageServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>answer</servlet-name>
        <servlet-class>sample1.AnswerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>answer</servlet-name>
        <url-pattern>/AnswerServlet</url-pattern>
    </servlet-mapping>
</web-app>